@using MudBlazor;
@using data_sense_blazor.Interfaces;
@using data_sense_blazor.Models;
@inject SQLServerDatabaseService DatabaseService;


@if (columns != null)
{
    <MudStack Class="w-full mt-3" Spacing="0">
        @foreach (var column in columns)
        {
            <div class="grid grid-cols-6 gap-2 m-2">
            <MudField Variant="Variant.Outlined" Class="col-span-3 m-0">
                    @column.Name
                </MudField><MudField Variant="Variant.Outlined" InnerPadding="false" Class="max-w-fit">
                    <MudCheckBox @bind-Checked="@Basic_CheckBox2" Color="Color.Primary"></MudCheckBox>
                </MudField>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="col-span-2">Preview</MudButton>
                 
            
            
            </div>
        }
    </MudStack>
}


@code {
    private string _selectedTable;
    [Parameter]
    public string SelectedTable { get; set; }
    [Parameter]
    public string SelectedDatabase { get; set; }

    private List<Column> columns;

    public bool Basic_CheckBox2 { get; set; } = false;
    protected override async Task OnParametersSetAsync()
    {
        if (SelectedTable != _selectedTable)
        {
            columns = await DatabaseService.GetColumns(SelectedDatabase, SelectedTable);
            _selectedTable = SelectedTable;
        }
    }
}
