@using Microsoft.Extensions.Configuration;
@using MudBlazor
@using data_sense_blazor.Models;
@using data_sense_blazor.Services;
@inherits ObservingComponentBase;
@inject SQLServerDatabaseService DatabaseService

<MudAutocomplete ValueChanged="OnDatabaseSelected" T="string" Label="Databasess" Value="@AppState.SelectedDatabase" SearchFunc="@Search" Variant="Variant.Outlined" Clearable=true Strict=false />

@if (!string.IsNullOrEmpty(@AppState.SelectedDatabase))
{
    <MudTabs KeepPanelsAlive="true" MinimumTabWidth="20px" Rounded="true" Centered="true" Outlined="true" Border="true">
        <MudTabPanel Text="Tables" >
            <ChildContent>
                <TablesDropDown SelectedDatabase="@AppState.SelectedDatabase" />
            </ChildContent>
        </MudTabPanel>
        <MudTabPanel Text="Stored Procedures">
            <ChildContent>
                <div class="p-12 !h-32 text-center">Comming soon</div>
            </ChildContent>
        </MudTabPanel>
        <MudTabPanel Text="Views">
            <ChildContent>
                <div class="p-12 !h-32 text-center">Comming soon</div>
            </ChildContent>
        </MudTabPanel>
        <MudTabPanel Text="Functions">
            <ChildContent>
                <div class="p-12 !h-32 text-center">Comming soon</div>
            </ChildContent>
        </MudTabPanel>
    </MudTabs>

}

@code {
    private List<string> databases;

    protected override void OnInitialized()
    {
        if (AppState.IsConnected && (AppState.Databases == null || !AppState.Databases.Any()))
        {
            LoadDatabases();
        }
    }

    private void HandleAppStateChange()
    {
        if (AppState.IsConnected && AppState.Databases == null)
        {
            LoadDatabases();
        }
    }

    private void OnConnectionStatusChanged()
    {
        if (AppState.IsConnected)
        {
            LoadDatabases();
        }
    }

    private Task<IEnumerable<string>> Search(string value)
    {
        if (string.IsNullOrEmpty(value))
            return Task.FromResult(AppState.Databases.AsEnumerable());

        var res = AppState.Databases.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        return Task.FromResult(res.AsEnumerable());
    }

    private async void LoadDatabases()
    {
        if (!AppState.Databases.Any())
        {
            var databases = await DatabaseService.GetDatabases();
            AppState.SetDatabases(databases.Select(db => db.Name).ToList());
        }
    }

    private void OnDatabaseSelected(string value)
    {
        AppState.SetSelectedDatabase(value);
    }

}
